@* <div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">ClientBlazor</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div> *@

<ul class="sidebar-nav" id="sidebar-nav">
	<div class="nav-item px-3">
		<a class="nav-link collapsed" href="/projects" Match="NavLinkMatch.All">
			<span class="ri-space-ship-fill" aria-hidden="true"></span> Projetos
		</a>
	</div>
	<div class="nav-item px-3">
		<a class="nav-link collapsed" href="/sellers">
			<span class="ri-user-2-line" aria-hidden="true"></span> Vendedores
		</a>
	</div>
	<div class="nav-item px-3">
		<a class="nav-link collapsed" href="/bookmakers">
			<span class="ri-bookmark-2-fill" aria-hidden="true"></span> Casas de Apostas
		</a>
	</div>
	<div class="nav-item px-3">
		<a class="nav-link collapsed" href="/events">
			<span class="ri-calendar-check-line" aria-hidden="true"></span> Eventos
		</a>
	</div>
	<div class="nav-item px-3">
		<a class="nav-link collapsed" href="/salesperformanceteam">
			<span class="ri-profile-fill" aria-hidden="true"></span> Diario do Vendedor
		</a>
	</div>
</ul>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
