@page "/bookmakers/edit/{id:guid}"
@using ClientBlazor.Services
@using Domain
@inject BookMakerServices bookMakerServices
@inject NavigationManager navigationManager

<h3>Editar Casa de Aposta</h3>

@if (bookmaker == null)
{
  <p>Carregando...</p>
}
else
{
  <EditForm Model="@bookmaker" OnValidSubmit="HandleUpdateBookmaker">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
      <label>Nome da Casa de Aposta</label>
      <InputText @bind-Value="bookmaker.BookmakerName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </EditForm>

  @if (!string.IsNullOrEmpty(errorMessage))
  {
    <div class="alert alert-danger">@errorMessage</div>
  }
}

@code {
  [Parameter]
  public Guid Id { get; set; }
  private Bookmaker? bookmaker;
  private string? errorMessage;

  protected override async Task OnInitializedAsync()
  {
    try
    {
      bookmaker = await bookMakerServices.GetBookmakerByIdAsync(Id);
    }
    catch (Exception ex)
    {
      errorMessage = "Erro ao carregar a casa de aposta: " + ex.Message;
    }
  }

  private async Task HandleUpdateBookmaker()
  {
    try
    {
      if (bookmaker != null)
      {
        bool isSuccess = await bookMakerServices.UpdateBookmakerAsync(Id, bookmaker);

        if (isSuccess)
        {
          navigationManager.NavigateTo("/bookmakers");
        }
        else
        {
          errorMessage = "Falha ao atualizar a casa de aposta. Tente novamente.";
        }
      }
    }
    catch (Exception ex)
    {
      errorMessage = $"Ocorreu um erro: {ex.Message}";
    }
  }
}