@page "/events"
@using ClientBlazor.Services
@using Domain
@inject EventServices eventServices

<h3>Lista de Eventos</h3>
<a class="btn btn-primary" href="/events/create">Criar Evento</a>
@if (events == null)
{
  <p>Carregando...</p>
}
else if (!events.Any())
{
  <p>Nenhum evento cadastrado.</p>
}
else
{
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nome do Evento</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var evento in events)
      {
        <tr>
          <td>@evento.EventName</td>
          <td>@evento.EventDescription</td>
          <td>
            <a href="/events/edit/@evento.EventsId" class="btn btn-warning">Editar</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code{
  private List<Events> events = new List<Events>();
  
  protected override async Task OnInitializedAsync()
  {
    events = await eventServices.GetEventsAsync();
  }
}