@page "/projectweight"
@using Domain
@using ClientBlazor.Services
@using ClientBlazor.Models
@inject ProjectWeightServices projectWeightServices

<h3>Lista de Pesos de Projetos</h3>
<a class="btn btn-primary" href="/projectweight/create">Cadastrar Peso de Projeto</a>

@if (projectWeights == null)
{
  <p>Carregando...</p>
}
else if (!projectWeights.Any())
{
  <p>Nenhum peso de projeto cadastrado.</p>
}
else
{
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Projeto</th>
        <th>Mês</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var projectWeight in projectWeights)
      {
        <tr>
          <td>@projectWeight.ProjectName</td>
          <td>@projectWeight.Month.ToString("MM/yyyy")</td>
          <td>
            <a href="/projectweight/edit/@projectWeight.ProjectWeightId" class="btn btn-warning">Editar</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code{
  private List<ProjectWeightModel> projectWeights = new List<ProjectWeightModel>();

  protected override async Task OnInitializedAsync()
  {
    var domainProjectWeights = await projectWeightServices.GetProjectWeightsAsync();
    projectWeights = domainProjectWeights;
  }
}