@page "/sellers"
@using ClientBlazor.Services
@using Domain
@using ClientBlazor.Models
@inject SellerService sellerService

<h3>Lista de Vendedores</h3>
<a class="btn btn-primary" href="/sellers/create">Cadastrar Vendedor</a>
@if (sellers == null)
{
  <p>Carregando...</p>
}
else if (!sellers.Any())
{
  <p>Nenhum vendedor cadastrado.</p>
}
else
{
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nome do Vendedor</th>
      <th>Projeto</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var seller in sellers)
      {
        <tr>
          <td>@seller.SellerName</td>
          <td>@seller.ProjectName</td>
          <td>@(seller.SellerIsActive ? "Ativo" : "Inativo")</td>
          <td>
            <a href="/sellers/edit/@seller.SellerId" class="btn btn-warning">Editar</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  private List<SellerModel> sellers = new List<SellerModel>();

  protected override async Task OnInitializedAsync()
  {
    var domainSellers = await sellerService.GetSellersAsync();
    sellers = domainSellers.Select(s => new SellerModel
    {
      SellerId = s.SellerId,
      SellerName = s.SellerName,
      ProjectName = s.ProjectName ?? "Sem projeto",
      SellerIsActive = s.SellerIsActive
    }).ToList();
  }
}