@page "/projects"
@using ClientBlazor.Services
@using Domain
@inject ProjectService projectService

<h3>Lista de Projetos</h3>
<a class="btn btn-primary" href="/projects/create">Criar Projeto</a>
@if (projects == null)
{
    <p>Carregando...</p>
}
else if (!projects.Any())
{
    <p>Nenhum projeto cadastrado.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do Projeto</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.ProjectName</td>
                    <td>@(project.ProjectIsActive ? "Ativo" : "Inativo")</td>
                    <td>
                      <a href="/projects/edit/@project.ProjectId" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = await projectService.GetProjectsAsync();
    }
}